h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    color: gold;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    -moz-box-shadow:4px 4px 5px #888888; /*mozilla*/
    -ms-box-shadow: 4px 4px 5px #888888; /*IE*/
    -webkit-box-shadow: 4px 4px 5px #888888; /*safari and chrome*/
    -o-box-shadow: 4px 4px 5px #888888; /*opera*/
    box-shadow: 4px 4px 5px #888888;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}